.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* width: max(20vw, 60px); */
  width: 250px;

}

.mealPictureContainer {
  overflow: hidden;
}

.mealPicture {
  width: 250px;
  height: 180px;
  flex-shrink: 0;
  border-top-left-radius: var(--radius-std);
  border-top-right-radius: var(--radius-std);
}

.titleAndPriceContainer, .textAndIconContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-shrink: 0;
}

.titleAndPriceContainer {
  font-family: var(--font-serif);
  font-size: var(--font-size-cardTitle);
  font-weight: var(--font-weight-cardTitle);
}

.textAndIconContainer {
  font-weight: 600;
  font-family: var(--font-sans);

  display: flex;
  justify-content: start;
  align-items: center;

  color: var(--color-primary-dark);
}

.mealPrice {
  color: var(--color-price);
}

.mealDescription {
  color: var(--color-primary-dark);
  font-size: 16px;
  line-height: 1.5;
  overflow-y: hidden;
  flex-shrink: 2;
  height: 140px;
}

.icon {
  width: 40%;
  margin-top: 5px;
  margin-left: 5px;
}

