.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 30px);
  
}

.mealPictureContainer {
  overflow: hidden;
  grid-column: 1/13;
  grid-row: 1/6;
}

.mealPicture {
  
  width: 100%;
  height:100%;
  object-fit: cover;
  border-top-left-radius: var(--radius-std);
  border-top-right-radius: var(--radius-std);
}

.titleAndPriceContainer, .textAndIconContainer {
  display: flex;
  align-items: center;
}

.titleAndPriceContainer {
  font-family: var(--font-serif);
  font-size: var(--font-size-cardTitle);
  font-weight: var(--font-weight-cardTitle);

  justify-content: space-between;
  grid-column: 1/13;
  grid-row: 6/7;
}

.textAndIconContainer {
  font-weight: 600;
  font-family: var(--font-sans);

  justify-content: flex-start;
  grid-column: 1/13;
  grid-row: 12/13;

  color: var(--color-primary-dark);
}

.mealPrice {
  color: var(--color-price);
}

.mealDescription {
  color: var(--color-primary-dark);
  font-size: 16px;
  line-height: 1.5;
  overflow-y: hidden;
  grid-column: 1/13;
  grid-row: 8/11;
}

.icon {
  width: 40%;
  margin-top: 5px;
  margin-left: 5px;
}

