.container {
  grid-column: 3/11;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(20, 20px);

  font-family: var(--font-sans);
  font-size: 20px;
  color: var(--color-primary-dark);
}

@media(max-width: 800px) {
  .container {
    grid-column: 2/12;
  }
}

@media(max-width: 600px) {
  .container {
    grid-column: 1/13;
  }
}

/* User Details */

.firstNameLabel {
  grid-column: 1/3;
  grid-row: 1/2;
}

.firstNameInput {
  grid-column: 3/6;
  grid-row: 1/2;
}

.lastNameLabel {
  grid-column: 8/10;
  grid-row: 1/2;
}

.lastNameInput {
  grid-column: 10/13;
  grid-row: 1/2;
}

.emailLabel {
  grid-column: 1/3;
  grid-row: 3/4;
}

.emailInput {
  grid-column: 3/6;
  grid-row: 3/4;
}

.phoneLabel {
  grid-column: 8/10;
  grid-row: 3/4;
}

.phoneInput {
  grid-column: 10/13;
  grid-row: 3/4;
}


/* User Preferences */

.dateLabel {
  grid-column: 1/3;
  grid-row: 5/6;
}

.dateInput {
  grid-column: 3/6;
  grid-row: 5/6;
}

.timeLabel {
  grid-column: 1/3;
  grid-row: 7/8;
}

.timeInput {
  grid-column: 3/6;
  grid-row: 7/8;
}

.timeInput:invalid {
  color: red;
}

.outdoorLabel {
  grid-column: 1/3;
  grid-row: 9/10;
}

.outdoorInput {
  grid-column: 3/6;
  grid-row: 9/10;
}

.occasionLabel {
  grid-column: 1/3;
  grid-row: 11/12;
}

.occasionInput {
  grid-column: 3/6;
  grid-row: 11/12;
}

.dinersLabel {
  grid-column: 8/10;
  grid-row: 5/7;
}

.dinersInput {
  grid-column: 10/13;
  grid-row: 5/7;
}

.preferencesLabel {
  grid-column: 6/8;
  grid-row: 13/14;
}

.preferencesInput {
  margin-top: 10px;
  grid-column: 1/13;
  grid-row: 14/18;
}

.reserveButton {
  grid-column: 5/9;
  grid-row: 18/20;

  background-color: var(--color-primary-light);
  border-radius: var(--radius-std);
  border-style: none;
  padding: 14px;
  margin: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;

}

