.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

}

.title {
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: var(--font-serif);
  font-size: var(--font-size-sectionTitle);
  font-weight: var(--font-weight-sectionTitle);
}



.reserveButton {
  background-color: var(--color-primary-light);
  border-radius: var(--radius-std);
  border-style: none;
  padding: 14px;
  margin: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;

}


