.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  background-color: bisque;
}

.title {
  grid-column: 6/9;
  grid-row: 1/2;

  font-family: var(--font-serif);
  font-size: var(--font-size-sectionTitle);
  font-weight: var(--font-weight-sectionTitle);
}

.userDetails {
  grid-column: 2/11;
  grid-row: 1/4;
}
