.hero {
  background-color: var(--color-primary-dark);
}

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(8, 1fr);
  justify-items: center;
  align-items: center;
}

.pictureContainer {
  grid-column: 6/10;
  grid-row: 0/8;
}

.picture {
  width: 100%;
  height: 100%;
}

.button {
  background-color: var(--color-primary-light);
  border-radius: var(--radius-std);
  grid-column: 2/6;
  grid-row: 4/6;
}
