.hero {
  height: 400px;
  background-color: var(--color-primary-dark);
}

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(8, 50px);
  /* justify-items: center;
  align-items: center; */
} 

.pictureContainer {
  grid-column: 8/11;
  grid-row: 1/9;
  transform: translateY(50px);
  overflow: hidden;
}

.picture {
  width: 100%;
  height: 100%;
  border-radius: var(--radius-std);
}

/* inline style as wouldn't work with the component 
   being conditionally renderer

.reserveButton {

}
*/
