.header {
  height: 80px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  justify-items: center;
  align-items: center;
}

.logo {
  grid-column: 2/4;
}

.nav {
  grid-column: 4/12;
  justify-self: end;
}

.list {
  list-style: none;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.list > li {
  font-family: var(--font-sans);
  font-size: 18px;
  font-weight: bold;
  color: var(--color-primary-dark);
  margin-left: 10px;
}
