.header {
  height: 80px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  justify-items: center;
  align-items: center;
}

.logo {
  grid-column: 3/5;
  justify-self:left;
}

.nav {
  grid-column: 5/11;
  justify-self: end;
}

.list {
  list-style: none;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.link {
  font-family: var(--font-sans);
  font-size: 18px;
  font-weight: bold;
  color: var(--color-primary-dark);
  margin-left: 10px;
  text-decoration: none;
  transition: all 0.3s;
}

.link:hover {
  color: var(--color-primary-light);
}


@media(max-width: 1050px){

  .logo {
    grid-column: 3/5;
    justify-self: left;
  }

  .nav {
    grid-column: 5/11;
    justify-self: end;
  }

  .list {
    list-style: none;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }


  .link {
    font-family: var(--font-sans);
    font-size: 16px;
    font-weight: bold;
    color: var(--color-primary-dark);
    margin-left: 10px;
    text-decoration: none;
    transition: all 0.3s;
  }

}

@media(max-width: 850px) {
  .header {
    height: 80px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 35px 45px;
    justify-items: center;
    align-items: center;
  }


  .logo {
    grid-column: 3/11;
    grid-row: 1/2;
    justify-self: center;
  }

  .nav {
    grid-column: 3/11;
    grid-row: 2/3;
    justify-self: center;
  }

  .list {
    list-style: none;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }


  .link {
    font-family: var(--font-sans);
    font-size: 16px;
    font-weight: bold;
    color: var(--color-primary-dark);
    margin-left: 10px;
    text-decoration: none;
    transition: all 0.3s;
  }
}
