.container {
  background-color: var(--color-primary-dark);
  padding-bottom: 50px;
}

.sectionTitle {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-serif);
  font-size: var(--font-size-sectionTitle);
  font-weight: var(--font-weight-sectionTitle);
}

.reviews {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 10%;
}

.review1 {
  width: 200px;
  height: 300px;
}

.review2 {
  width: 200px;
  height: 300px;
}

.review3 {
  width: 200px;
  height: 300px;
}
