.container {
  height: 580px;
  background-color: var(--color-primary-dark);
}

.sectionTitle {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-serif);
  font-size: var(--font-size-sectionTitle);
  font-weight: var(--font-weight-sectionTitle);
}

.reviews {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 50px, 1fr, 50px;
}

.review1 {
  grid-column: 3/5;
  grid-row: 2/3;
}

.review2 {
  grid-column: 6/8;
  grid-row: 2/3;
}

.review3 {
  grid-column: 9/11;
  grid-row: 2/3;
}
