.storeDetails {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.title {
  font-family: var(--font-serif);
  font-size: 54px;
  color: var(--color-primary-light);
}

.city {
  font-family: var(--font-serif);
  font-size: 40px;
  font-weight: medium;
  color: var(--color-secondary-grey);
}

.description {
  font-family: var(--font-sans);
  color: var(--color-secondary-grey);
  line-height: 1.5;
}
