:root {
  --color-primary-light: #F4CE14;
  --color-primary-dark:  #495E57;
  --color-secondary-grey: #EDEFEE;
  --color-price: #EE9972;

  --width-desktop: 1440px;
  --radius-std: 16px;

  --font-size-sectionTitle: 40px;
  --font-weight-sectionTitle: 400;

  --font-size-cardTitle: 24px;
  --font-weight-cardTitle: bold;

  --font-sans: 'Karla', sans-serif;
  --font-serif: 'Markazi Text', serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  flex-direction: column;

  background-color: var(--color-secondary-grey);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
input, option, textarea, select {
  font-family: var(--font-sans);
  font-size: 16px;

}
